db_url = "mysql://username:password@localhost:3306/database"
cache_table = "password_cache"
user_query = """
SELECT CONCAT('/home/vmail/mail/', maildir) as home, \
       CONCAT('maildir:/home/vmail/mail/', maildir) as mail, \
       5000 AS uid, 5000 AS gid, \
       CONCAT('*:bytes=', quota) AS quota_rule, password \
       FROM mailbox WHERE username = :username OR username IN (SELECT goto FROM alias WHERE address = :username AND active = '1') AND active = '1'"""
nextcloud_url = "https://www.example.com/nextcloud"
nextcloud_hash_scheme = "SSHA512"
cache_verify_interval = 60
cache_max_lifetime = 86400
cache_cleanup = true

